<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
    <h1>Please fill out the form information!</h1>
    <form method="post" action="/formPost">
        <label for="first-name">First Name:</label>
        <input type="text" name="first-name" id="first-name">
        <br>
        <label for="last-name">Last Name:</label>
        <input type="text" name="last-name" id="last-name">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="studentid">Student Number:</label>
        <input type="number" name="studentid" id="studentid">
        <br>
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>