<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
    <h1>Please fill out the form information!</h1>
    <form method="post" action="/formPost">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName">
        <br>
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="studentId">Student Number:</label>
        <input type="number" name="studentId" id="studentId">
        <br>
        <label for="checkbox">This is a checkbox</label>
        <input type="checkbox" name="checkbox" id="checkbox">
        <br>
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>