<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Mission</title>
</head>
<body>
    <div>
        <h1>Create Mission</h1>
        <br>
        <form action="" method="post">
            <label for="missionTitle">Mission title: </label>
            <input type="text" name="missionTitle" id="missionTitle" required>
            <br>
            <label for="agent">Agent: </label>
            <select name="agent" id="agent" required>
                <option value="">Johnny English</option>
                <option value="">Natasha Romanova</option>
                <option value="">Austin Powers</option>
            </select>
            <br>
            <h1>Enter Gadgets</h1>
            <label for="gadget1">Gadget 1: </label>
            <input type="text" name="gadget1" id="gadget1" required>
            <br>
            <label for="gadget2">Gadget 2: </label>
            <input type="text" name="gadget2" id="gadget2" required>
            <br>
            <button type="submit">Create Mission</button>
        </form>
        <br>
        <a href="/">Home</a>
    </div>
</body>
</html>