<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Mission</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/createMissionStyle.css" th:href="@{/css/createMissionStyle.css}">
</head>
<body>
    <div>
        <h1>Create Mission</h1>
        <br>
        <form th:action="@{/createMission}" method="post" th:object="${mission}">
            <label for="id">Mission ID: </label>
            <input type="number" name="id" id="id" required>
            <br>
            <label for="title">Mission title: </label>
            <input type="text" name="title" id="title" required>
            <br>
            <label for="agent">Agent: </label>
            <select name="agent" id="agent" required>
                <option value="">Select an option</option>
                <option value="Johnny English">Johnny English</option>
                <option value="Natasha Romanova">Natasha Romanova</option>
                <option value="Austin Powers">Austin Powers</option>
            </select>
            <br>
            <h1>Enter Gadgets</h1>
            <label for="gadget1">Gadget 1: </label>
            <input type="text" name="gadget1" id="gadget1" required>
            <br>
            <label for="gadget2">Gadget 2: </label>
            <input type="text" name="gadget2" id="gadget2" required>
            <br>
            <button type="submit">Create Mission</button>
        </form>
        <br>
        <a href="/">Home</a>
    </div>
</body>
</html>