<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cool Spy App</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/landingStyle.css" th:href="@{/css/landingStyle.css}">
</head>
<body>
    <div>
        <h1>Super Cool Spy App</h1>

        <h2>Create a mission</h2>
        <form method="get" th:action="@{/createMission}">
            <button type="submit">Create Mission</button>
        </form>

        <h2>View Mission for:</h2>

        <form th:object="${mission}" th:action="@{/getMissions}" method="get">
            <p th:value="${mission.agent}"></p>
            <label for="agent">Choose your agent</label>
            <br>
            <select name="agent" id="agent" th:field="*{agent}">
                <option th:each="agent : *{agents}" th:text="${agent}" th:value="${agent}"></option>
            </select>
            <br>
            <button type="submit">Go</button>
        </form>
    </div>
</body>
</html>