@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Regular.ttf");
    font-weight: normal;
}

* {
    font-family: Ubuntu;
}

h1 {
    color: red;
    padding-bottom: 5px;
}

a:link {
    text-decoration: mediumpurple underline;
}

a:visited {
    text-decoration: black;
}
